// Header Styles

header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    nav {
        ul {
            margin-top: 40px; 
            width: 610px;
            justify-content: space-between;
            display: flex;
            @media @tablet {
                width: 475px;
                margin-left: 25px;
            }
            @media @phone {
                width: 350px;
                margin-left: 12px;
                font-size: 12px;
                justify-content: space-evenly;
            }

            li {

                a {
                    text-decoration: none;
                    color: #b0b0b0;

                    &:hover {
                        text-decoration: underline;
                        color: black;
                    }
                }
            }
        }
    }

    .logo {
        align-self: flex-end;
        margin: 28px 0 0 91px;
        @media @tablet {
            margin: 28px 0 0 50px;
        }
        @media @phone {
            margin: 18px 0 0 97px;
        }
    }
}// header